---
layout: null
title: Harvest
description: Knowing is not enough; we must apply. Willing is not enough; we must do. 
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

<html>
	
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>-------------------------------</h2>
						<p>Knowing is not enough; we must apply. Willing is not enough; we must do.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>Harvest</h2>
									<p> One Potato Plus One Potato equal Small Potato. <br/>
										Although Potatoes's life isn't always what our like. <br />
										We can figure out what to do
                    					</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                				<p>
									Sowing seeds, watering, and waiting is not the only harvest. 
									To sow seeds, you need to choose a good soil and know when to water it. And, the most important thing is waiting.
									Waiting is not just waiting for time to pass. You need to check the current condition of the crop and be able to detect the problem of the crop.
									Of course, the design of all of these todos must be considered at the stage of selecting the crop.
								 </p>
								 <p>
									It is no different when developing services.</p>

									<p>In order to choose which service to develop, the purpose of the service and achievable goal must be specified first.
									At this point, the environment in which the service will operate must be considered, just as selecting the soil for the crop to grow.
									</p>
								</p>
								<p>When these environment are not considered, many services often turn into a huge mud chunks and advancing towards goals that are unachievable.
								 </p>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									
  								</article>
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="https://github.com/PotatoWhite" class="button">github.com/PotatoWhite</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
